
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
 

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 23.04px 160px;
}
.title {
    color: rgb(14, 14, 14);
font-size: 30.72px;
font-weight: 700;
line-height: 36.48px;
letter-spacing: 0%;
text-align: left;
}
.btn1 {
    color: rgb(0, 106, 80);
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
}
.frame1 {

    display: flex;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    justify-content: space-between;
    margin: 23.04px 160px;
    padding: 50px;
    
}
.frame1-content {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    position: static;
width: 622px;
gap: 64;
padding: 30px 50px 30px 50px;
margin: 0px;
}
.frame1 h3 {
    color: rgba(14, 14, 14, 0.5);
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.frame1 h2 {
    color: rgb(14, 14, 14);
font-size: 45px;
font-weight: 700;
line-height: 67px;
text-align: left;
}
.frame1 button {
gap: 48;
padding: 17px 34px 17px 34px;
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-size: 15px;
font-weight: 600;
line-height: 22px;
border: none;
}
.frame1-pic {
    width: 474.03px;
height: 329.21px;
left: 157.37%;
right: -157.37%;
top: 20%;
bottom: -2.3%;
}
.frame2 {
position: static;
width: 1280px;
height: 324px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: start;
gap: 32;
margin: 80px;
}
.piller {
width: 302px;
height: 244px;
gap: 10px;
padding: 24px;
margin: 0px 10px;
text-align: center;

    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
height: 270px;
}

.frame2-head {
font-size: 30px;
line-height: 48px;
text-align: center;
margin-left: 80px;
}
.frame2-container {
    display: flex;
position: static;
width: 1233.5px;
height: 244px;
justify-content: space-between;
align-items: center;
padding: 15px;
margin-left: 40px;
}
.piller-title {
    color: rgba(14, 14, 14, 0.8);
font-size: 15px;
font-weight: 700;
line-height: 24px;
text-align: left;
} 
.piller-descrip {
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}